<%= render 'layouts/navbar' %>
<%= flash[:success] %>
<%= flash[:error] %>

<div class="home">
  <div class="homeimg">
  <div class="hometext">
    <h1 class="display-3 text-light text-center pt-5 pb-4">
    Bem Vindo ao <strong>ONDE Pinhal</strong>
    </h1>
    <div class="d-flex justify-content-center">
      <div class="searchbar">
        <input type="text" placeholder="Procurar categoria ..." class="search_input">
        <%= link_to "<i class='fa fa-search' ></i>".html_safe, pesquisa_path, class: 'search_icon' %>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="container background">

<!-- Categorias -->
       <!-- Topic Cards -->
  <div id="cards_landscape_wrap-2">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg" alt="" />
                </div>
                <div class="text-container">
                  <h6>Title 01</h6>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <a href="">
              <div class="card-flyer">
                  <div class="text-box">
                      <div class="image-box">
                          <img src="https://cdn.pixabay.com/photo/2018/04/09/19/55/low-poly-3305284_960_720.jpg" alt="" />
                      </div>
                      <div class="text-container">                                    
                          <h6>Title 02</h6>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <a href="">
              <div class="card-flyer">
                  <div class="text-box">
                      <div class="image-box">
                          <img src="https://cdn.pixabay.com/photo/2018/04/06/13/46/poly-3295856_960_720.png" alt="" />
                      </div>

                      <div class="text-container">
                          <h6>Title 03</h6>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg" alt="" />
              </div>
              <div class="text-container">
                <h6>Title 04</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>

<!-- Fim de categorias -->
<hr class="my-5">
<!-- Ofertas do dia -->
  <div class="row">
    <div class="col-7 pt-5">
      <h2>Ofertas do dia</h2>
      <h6>Confira as principais ofertas encontradas hoje em Espirito
      Santo do Pinhal! As ofertas são atualizadas instantaneamente
      a partir da divulgação das empresas associadas.</h6>
    </div>
    <div class="col-5 pt-5">
      <img class="w-75" src="https://www.printebrindes.com.br/wp-content/uploads/2020/11/imperdivel.png" alt="First slide">
    </div>
  </div>
  <div class="row pb-5">
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://a-static.mlcdn.com.br/1500x1500/batata-frita-peito-peru-45g-elma-chips/docemalu/1467/7f512b84a084e6433396b334c703cc2f.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center">batatinha</h4>
            <footer class="h6 text-dark font-italic text-center">Supermecado Campeão</footer>
            <h6>De <s class="text-danger">R$19,99</s>. Por <span class="h4 text-success">R$15,99</span></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center">Mensalidade</h4>
            <footer class="h6 text-dark font-italic text-center">Academia SJ</footer>
            <h6>De <s class="text-danger">R$99,99</s>. Por <span class="h4 text-success">R$75,99</span></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://images-submarino.b2w.io/produtos/01/00/item/124828/5/124828563_1GG.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center">Pneu aro 15</h4>
            <footer class="h6 text-dark font-italic text-center">Michellan</footer>
            <h6>De <s class="text-danger">R$195,99</s>. Por <span class="h4 text-success">R$99,10</span></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://d25dk4h1q4vl9b.cloudfront.net/media/images/menu-content/BR/sobremesas/casquinhas_new.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center">Casquinha</h4>
            <footer class="h6 text-dark font-italic text-center">Chiquinho</footer>
            <h6>De <s class="text-danger">R$2,99</s>. Por <span class="h4 text-success">R$2,00</span></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center">Anuidade</h4>
            <footer class="h6 text-dark font-italic text-center">Academia SJ</footer>
            <h6>De <s class="text-danger">R$999,99</s>. Por <span class="h4 text-success">R$900</span></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQuVaNgf6IFefSwKceEBOgkPdhs2iUiNF2LYb7jzumOpRxYYOhyKNR6ECA1Q42Qv0YUZ_rlqUK&usqp=CAc" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center">Calça Jeans 37</h4>
            <footer class="h6 text-dark font-italic text-center">Lojinha da Ju</footer>
            <h6>De <s class="text-danger">R$90,99</s>. Por <span class="h4 text-success">R$70,99</span></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://www.socialbauru.com.br/wp-content/uploads/2020/09/seu-joao-barbearia-bauru-3-1024x768.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center">Corte de cabelo</h4>
            <footer class="h6 text-dark font-italic text-center">Barbearia Sr. Miguel</footer>
            <h6>De <s class="text-danger">R$ 19,99</s>. Por <span class="h4 text-success">R$ 15,99</span></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://www.cidademarketing.com.br/marketing/wp-content/uploads/2020/01/popsubs_subway.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center">2 po 1 Subway</h4>
            <footer class="h6 text-dark font-italic text-center">Subway</footer>
            <h6>De <s class="text-danger">R$19,99</s>. Por <span class="h4 text-success">R$12,90</span></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center pt-4 col-12">
      <%= button_to  "Confira todas as ofertas", ofertas_path, method: :get, class: 'btn-home' %>
    </div>
  </div>
  <!-- Fim de ofertas do dia -->
<hr class="my-5">
  <!-- Inicio de Cupons -->
  <h2 class="pt5">Cupon</h2>
  <div class="row pb-5">
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <footer class="blockquote-footer">Válido até <cite title="Source Title">00/00/2020</cite></footer>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <footer class="blockquote-footer">Válido até <cite title="Source Title">00/00/2020</cite></footer>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <footer class="blockquote-footer">Válido até <cite title="Source Title">00/00/2020</cite></footer>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <footer class="blockquote-footer">Válido até <cite title="Source Title">00/00/2020</cite></footer>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center pt-4 col-12">
      <%= button_to  "Confira todos os cupons", cupons_path, method: :get, class: 'btn-home' %>
    </div>
  </div>
  <!-- Fim de Cupons -->
</div>