<%= render 'layouts/navbar' %>
<%= flash[:success] %>
<%= flash[:error] %>

<div class="background">
<div class="imghome">
  <h1 class="display-3 text-light text-center pt-5 pb-4">
  Bem Vindo ao <strong>ONDE Pinhal</strong>
  </h1>
  <div class="d-flex justify-content-center">
    <div class="searchbar">
      <input type="text" placeholder="Procurar categoria" class="search_input">
      <%= link_to "<i class='fa fa-search' ></i>".html_safe, root_path, class: 'search_icon' %>
    </div>
  </div>
</div>
<div class="container background">

<!-- Categorias -->
       <!-- Topic Cards -->
  <div id="cards_landscape_wrap-2">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg" alt="" />
                </div>
                <div class="text-container">
                  <h6>Title 01</h6>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <a href="">
              <div class="card-flyer">
                  <div class="text-box">
                      <div class="image-box">
                          <img src="https://cdn.pixabay.com/photo/2018/04/09/19/55/low-poly-3305284_960_720.jpg" alt="" />
                      </div>
                      <div class="text-container">                                    
                          <h6>Title 02</h6>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <a href="">
              <div class="card-flyer">
                  <div class="text-box">
                      <div class="image-box">
                          <img src="https://cdn.pixabay.com/photo/2018/04/06/13/46/poly-3295856_960_720.png" alt="" />
                      </div>

                      <div class="text-container">
                          <h6>Title 03</h6>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg" alt="" />
              </div>
              <div class="text-container">
                <h6>Title 04</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>

<!-- Fim de categorias -->
<hr class="my-5">
<!-- Ofertas do dia -->
  <div class="row">
    <div class="col-8 pt-5">
      <h4>Ofertas do dia</h4>
      <h6>Confira as principais ofertas encontradas hoje em Espirito
      Santo do Pinhal! As ofertas são atualizadas instantaneamente
      a partir da divulgação das empresas associadas.</h6>
    </div>
    <div class="col-4 pt-5">
      <img class="w-75" src="https://ellevo.com/wp-content/uploads/2018/09/06-csc-em-grandes-empresas.jpg" alt="First slide">
    </div>
  </div>
  <div class="row pb-5">
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">batatinha</h5>
            <footer class="blockquote-footer">Supermecado Ampeão</footer>
            <h3>De:   R$ 19,99<br/> Por: R$ 15,99</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Lojinha da Ju</h5>
            <footer class="blockquote-footer">Preço R$ <cite title="Source Title">19,99</cite></footer>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Lojinha da Ju</h5>
            <footer class="blockquote-footer">Preço R$ <cite title="Source Title">19,99</cite></footer>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Lojinha da Ju</h5>
            <footer class="blockquote-footer">Preço R$ <cite title="Source Title">19,99</cite></footer>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Lojinha da Ju</h5>
            <footer class="blockquote-footer">Preço R$ <cite title="Source Title">19,99</cite></footer>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Lojinha da Ju</h5>
            <footer class="blockquote-footer">Preço R$ <cite title="Source Title">19,99</cite></footer>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Lojinha da Ju</h5>
            <footer class="blockquote-footer">Preço R$ <cite title="Source Title">19,99</cite></footer>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Lojinha da Ju</h5>
            <footer class="blockquote-footer">Preço R$ <cite title="Source Title">19,99</cite></footer>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center pt-4 col-12">
      <%= button_to  "Confira todas as ofertas", ofertas_path, method: :get, class: 'btn-home' %>
    </div>
  </div>
  <!-- Fim de ofertas do dia -->
<hr class="my-5">
  <!-- Inicio de Cupons -->
  <h2 class="pt5">Cupon</h2>
  <div class="row pb-5">
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <footer class="blockquote-footer">Válido até <cite title="Source Title">00/00/2020</cite></footer>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <footer class="blockquote-footer">Válido até <cite title="Source Title">00/00/2020</cite></footer>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <footer class="blockquote-footer">Válido até <cite title="Source Title">00/00/2020</cite></footer>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <footer class="blockquote-footer">Válido até <cite title="Source Title">00/00/2020</cite></footer>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center pt-4 col-12">
      <%= button_to  "Confira todos os cupons", cupons_path, method: :get, class: 'btn-home' %>
    </div>
  </div>
  <!-- Fim de Cupons -->
</div>
</div>