<h2>Nome: <%= @user.name %></h2>
<h4>Fotinha:</h4>

<br/>
<div class="mx-auto col-md-8 py-5 col-8">
  <div class="shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h3 class="m-0 text-primary text-center">Reviews das empresas</h3>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped align-middle" >
          <thead>
          <tr class="text-center">
            <th>Nota</th>
            <th>Preço</th>
            <th>Empresa</th>
            <th>Comentário</th>
          </tr>
          </thead>
          <tbody>
            <% @reviews&.each do |form| %>
              <tr class="text-center">
                <td class="align-middle"><%= form.score %></td>
                <td class="align-middle"><%= form.price %></td>
                <td class="align-middle"><%= form.company.name %></td>
                <td class="align-middle"><%= form.description %></td>
                <td class="align-middle"><%= button_to 'Editar', edit_review_path(form), method: 'get'%></td>
                <td class="align-middle"><%= button_to 'Remover', delete_review_path(form), method: 'delete', data: { confirm: 'Você tem certeza?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<br/>
<div class="mx-auto col-md-8 py-5 col-8">
  <div class="shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h3 class="m-0 text-primary text-center">Reviews das ofertas</h3>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped align-middle" >
          <thead>
          <tr class="text-center">
            <th>Nota</th>
            <th>Produto</th>
            <th>Empresa</th>
            <th>Comentário</th>
          </tr>
          </thead>
          <tbody>
            <% @review_offers&.each do |form| %>
              <tr class="text-center">
                <td class="align-middle"><%= form.score %></td>
                <td class="align-middle"><%= form.offer.name %></td>
                <td class="align-middle"><%= form.offer.company.name %></td>
                <td class="align-middle"><%= form.description %></td>
                <td class="align-middle"><%= button_to 'Editar', edit_review_offer_path(form), method: 'get'%></td>
                <td class="align-middle"><%= button_to 'Remover', delete_review_offer_path(form), method: 'delete', data: { confirm: 'Você tem certeza?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="mx-auto col-md-8 py-5 col-8">
  <div class="shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h3 class="m-0 text-primary text-center">Endereço</h3>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <div class="d-flex align-content-around justify-content-around flex-wrap">
          <% @user.addresses.each_with_index do |address, index| %>
            <div class="card border-light mb-3" style="max-width: 50%;">
              <div class="card-body">
                <h5 class="card-title">Endereço <%= index + 1 %></h5>
                <p class="card-text"><%= address.address_line %>,
                  nº <%= address.number %>,
                  <%= address.cep %>,
                  <%= address.city %>-<%= address.state %>.
                </p>
                <p class="card-text">Destinatário: <%= address.recipient_name %></p>
                <p class="card-text">Telefone: <%= address.phone_number %></p>
                <%= link_to 'Editar', edit_address_path(address.id), class: 'btn btn-success', data: {turbolinks: false} %>
                <%= link_to 'Remover', delete_address_path(address.id), class: 'btn btn-primary', method: :delete %>
              </div>
            </div>
          <% end %>
        </div>

        <%= link_to 'Adicionar Endereço', new_address_path, class: 'btn btn-secondary', data: {turbolinks: false} %>
      </div>
    </div>
  </div>
</div>