<div class="table-responsive">
  <table class="table table-striped align-middle" >
    <thead>
    <tr class="text-center">
      <th>Nome</th>
      <th>Valor</th>
      <th>Inicio</th>
      <th>Fim</th>
      <th>Editar</th>
      <th>Deletar</th>
    </tr>
    </thead>
    <tbody>
      <% @coupons&.each do |form| %>
        <tr class="text-center">
          <td class="align-middle"><%= form.name %></td>
          <td class="align-middle"><%= form.value %></td>
          <td class="align-middle"><%= form.start_time.strftime("%m/%d") %></td>
          <td class="align-middle"><%= form.end_time.strftime("%m/%d") %></td>
          <td class="align-middle"><%= button_to 'Editar', edit_coupon_path(form), method: 'get'%></td>
          <td class="align-middle"><%= button_to 'Remover', delete_coupon_path(form), method: 'delete', data: { confirm: 'Você tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<p> <%= link_to "Adicionar novo cupom", new_coupon_path %> </p>