<h2>Nome: <%= @tag.name %></h2>
<h4>Descrição: <%= @tag.description %></h4>

<br/>
<h4> ofertas que fazem parte desta tag</h4>
<% @offers.each do |form| %>
  <tr>
    <td><%= link_to form.name, show_company_path(form.company) %></td>
  </tr>
<% end %>

<%= button_to "Voltar para tags", tags_path, method: :get %>
<%= button_to "Editar tag", edit_tag_path(@tag), method: :get %>
<%= button_to 'Remover tag', delete_tag_path(@tag), method: 'delete', data: { confirm: 'Você tem certeza?' } %>