<div class="table-responsive">
  <table class="table table-striped align-middle" >
    <thead>
    <tr class="text-center">
      <th>Nome</th>
      <th>Preço</th>
      <th>Inicio</th>
      <th>Fim</th>
      <th>Editar</th>
      <th>Deletar</th>
    </tr>
    </thead>
    <tbody>
      <% @offers&.each do |form| %>
        <tr class="text-center">
          <td class="align-middle"><%= link_to form.name, show_offer_path(form), class: 'text-dark' %></td>
          <td class="align-middle"><%= form.new_price %></td>
          <td class="align-middle"><%= form.start_time.strftime("%m/%d %H:%M") %></td>
          <td class="align-middle"><%= form.end_time.strftime("%m/%d %H:%M") %></td>
          <td class="align-middle"><%= button_to 'Editar', edit_offer_path(form), method: 'get'%></td>
          <td class="align-middle"><%= button_to 'Remover', delete_offer_path(form), method: 'delete', data: { confirm: 'Você tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>