<h3>Editar oferta <%= @offer.name %></h3>
<%= form_for @company do |form| %>
    <p>Nome da oferta: <%= form.text_field :name %></p>
    <p>Descrição: <%= form.text_field :description %></p>
    <p>Preço antigo: <%= form.number_field :old_price %></p>
    <p>Novo preço: <%= form.number_field :new_price %></p>
    <p>Data de inicio: <%= form.datetime_field :start_time %></p>
    <p>Data de termino: <%= form.datetime_field :end_time %></p>
    <p>Parcelado? <%= form.check_box :parceled %></p>
    <p>Em quantas vezes: <%= form.number_field :qtd_parcel %></p>
    <p>Em dinheiro: <%= form.check_box :cash %></p>
    <p>Cartão: <%= form.check_box :credit_card %></p>
    <p>Empresa: <%= form.collection_select(:company_id, Company.all, :id, :name) %></p>

    <%= form.submit "Editar" %>
<% end %>