<div class="table-responsive">
  <table class="table table-striped align-middle" >
    <thead>
    <tr class="text-center">
      <th>Nome</th>
      <th>Descrição</th>
      <th>Editar</th>
      <th>Deletar</th>
    </tr>
    </thead>
    <tbody>
      <% subcategories&.each do |form| %>
        <tr class="text-center">
          <td class="align-middle"><%= link_to form.name, show_subcategory_path(form), class: 'text-dark' %></td>
          <td class="align-middle"><%= form.description %></td>
          <td class="align-middle"><%= button_to 'Editar', edit_subcategory_path(form), method: 'get'%></td>
          <td class="align-middle"><%= button_to 'Remover', delete_subcategory_path(form), method: 'delete', data: { confirm: 'Você tem certeza? Algumas empresas podem ter essa subcategoria, e acabariam ficando sem, tome cuidado !' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<p> <%= link_to "Adicionar nova categoria", new_subcategory_path %> </p>