<h2>Nome: <%= @category.name %></h2>
<h4>Descrição: "<%= @category.description %>"</h4>

<br/>
<h4>Sub Categorias</h4>
<% @subcategories.each do |form| %>
  <tr>
    <td><%= link_to form.name, subcategory_path(form) %></td>
    <td><%= form.description %></td>
    <td><%= button_to 'Editar', edit_subcategory_path(form), method: 'get'%></td>
    <td><%= button_to 'Remover', subcategory_path(form), method: 'delete', data: { confirm: 'Você tem certeza? Algumas empresas podem ter essa subcategoria, e acabariam ficando sem, tome cuidado !' } %></td>
  </tr>
<% end %>

<p> <%= link_to "Adicionar nova categoria", new_subcategory_path %> </p>

<%= button_to "Voltar para categorias", categories_path, method: :get %>
<%= button_to "Editar categoria", edit_category_path(@category), method: :get %>
<%= button_to 'Remover categoria', category_path(@category), method: 'delete', data: { confirm: 'Você tem certeza?' } %>
