<h2>Nome: <%= @category.name %></h2>
<h4>Descrição: <%= @category.description %></h4>

<br/>
<div class="mx-auto col-md-8 py-5 col-8">
  <div class="shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h3 class="m-0 text-primary text-center">Sub Categorias</h3>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped align-middle" >
          <thead>
          <tr class="text-center">
            <th>Nome</th>
            <th>Descrição</th>
            <th>Editar</th>
            <th>Deletar</th>
          </tr>
          </thead>
          <tbody>
            <% @subcategories&.each do |form| %>
              <tr class="text-center">
                <td class="align-middle"><%= link_to form.name, show_subcategory_path(form), class: 'text-dark' %></td>
                <td class="align-middle"><%= form.description %></td>
                <td class="align-middle"><%= button_to 'Editar', edit_subcategory_path(form), method: 'get'%></td>
                <td class="align-middle"><%= button_to 'Remover', delete_subcategory_path(form), method: 'delete', data: { confirm: 'Você tem certeza? Algumas empresas podem ter essa subcategoria, e acabariam ficando sem, tome cuidado !' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <p> <%= link_to "Adicionar nova categoria", new_subcategory_path %> </p>
    </div>
  </div>
</div>


<%= button_to "Voltar para categorias", categories_path, method: :get %>
<%= button_to "Editar categoria", edit_category_path(@category), method: :get %>
<%= button_to 'Remover categoria', delete_category_path(@category), method: 'delete', data: { confirm: 'Você tem certeza?' } %>
