<%= render 'layouts/navbar' %>

<div class="pagina-ofertas mt-1">
  <h1 class="titulo pt-4">Encontre diversos cupons exclusivos de sua loja preferida</h1>
  <div class="row mb-2 mt-5 justify-content-center pb-4">
    <input class="form-control col-5" type="text" placeholder="Buscar Roupa, comida e muito mais...">
    <a href="./pesquisa" class="btn col-1 text-center pt-2" style="background-color: #2454fc;color: #FFF; font-weight: bold;">BUSCAR</a>
  </div>
</div>

<div class="ofertas-home pt-5 d-flex justify-content-center">
    <div class="flip-container m-2">
      <div class="flipper">
        <div class="front">
          <div class="cards">
            <img class="card-img-top" src="https://foxcriacaodesitesbh.com.br/fotos/capa_171523130834_1515441788577037_3881032599581863332_n.png" alt="Card image cap">
            <div class="card-img-overlay">
              <h5 class="float-left">
                <img class="card-img-top img-cupom" src="https://pt.calcuworld.com/wp-content/uploads/sites/6/2019/11/30-por-cento.png" alt="Card image cap" style="width: 50px; heigth: 50px">
              </h5>
            </div>
            <div class=" m-1">
              <p class="card-text hometextcupom text-justify">Toda a loja de Espirito Santo do Pinhal 30% OFF,
                Compra limitadas 1 por pessoa.</p>
            </div>
          </div>
        </div>
        <div class="back">
          <div class="cards">
            <img class="card-img-top" src="https://diariodorio.com/wp-content/uploads/2020/03/foto-americanas-1280x720.jpg" alt="Card image cap">
            <div class="m-1">
              <h5 class="card-title">Americanas</h5>
              <p class="card-text">Valido até: <span class="text-success">27/12</span></p>
              <div class="text-center pt-1 col">
                <%= button_to  "Pegar Cupom", cupons_path, method: :get, class: 'btn-home' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flip-container m-2">
      <div class="flipper">
        <div class="front">
          <div class="cards">
            <img class="card-img-top" src="https://foxcriacaodesitesbh.com.br/fotos/capa_171523130834_1515441788577037_3881032599581863332_n.png" alt="Card image cap">
            <div class=" m-1">
              <p class="card-text hometextcupom text-justify">Toda a linha de notebook acer com 30%OFF.</p>
            </div>
          </div>
        </div>
        <div class="back">
          <div class="cards">
            <img class="card-img-top" src="https://diariodorio.com/wp-content/uploads/2020/03/foto-americanas-1280x720.jpg" alt="Card image cap">
            <div class="m-1">
              <h5 class="card-title">Americanas</h5>
              <p class="card-text">Valido até: <span class="text-success">27/12</span></p>
              <div class="text-center pt-1 col">
                <%= button_to  "Pegar Cupom", cupons_path, method: :get, class: 'btn-home' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flip-container m-2">
      <div class="flipper">
        <div class="front">
          <div class="cards">
            <img class="card-img-top" src="https://foxcriacaodesitesbh.com.br/fotos/capa_171523130834_1515441788577037_3881032599581863332_n.png" alt="Card image cap">
            <div class=" m-1">
              <p class="card-text hometextcupom text-justify">Toda a loja de Espirito Santo do Pinhal 30% OFF,
                Compra limitadas 1 por pessoa.</p>
            </div>
          </div>
        </div>
        <div class="back">
          <div class="cards">
            <img class="card-img-top" src="https://diariodorio.com/wp-content/uploads/2020/03/foto-americanas-1280x720.jpg" alt="Card image cap">
            <div class="m-1">
              <h5 class="card-title">Americanas</h5>
              <p class="card-text">Valido até: <span class="text-success">27/12</span></p>
              <div class="text-center pt-1 col">
                <%= button_to  "Pegar Cupom", cupons_path, method: :get, class: 'btn-home' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flip-container m-2">
      <div class="flipper">
        <div class="front">
          <div class="cards">
            <img class="card-img-top" src="https://foxcriacaodesitesbh.com.br/fotos/capa_171523130834_1515441788577037_3881032599581863332_n.png" alt="Card image cap">
            <div class=" m-1">
              <p class="card-text hometextcupom text-justify">Toda a loja de Espirito Santo do Pinhal 30% OFF,
                Compra limitadas 1 por pessoa.</p>
            </div>
          </div>
        </div>
        <div class="back">
          <div class="cards">
            <img class="card-img-top" src="https://diariodorio.com/wp-content/uploads/2020/03/foto-americanas-1280x720.jpg" alt="Card image cap">
            <div class="m-1">
              <h5 class="card-title">Americanas</h5>
              <p class="card-text">Valido até: <span class="text-success">27/12</span></p>
              <div class="text-center pt-1 col">
                <%= button_to  "Pegar Cupom", cupons_path, method: :get, class: 'btn-home' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
<%= render 'layouts/pagination' %>