<!-- Footer -->
<footer class="page-footer font-small teal">
  <div class="container-fluid text-center text-md-left footer-text">
    <div class="row text-center">
      <div class="col-0 col-lg-2"></div>
      <div class="col-md-6 col-lg-4 mt-md-0 mt-3 p-3">
        <h5 class="text-uppercase font-weight-bold">Nossas redes sociais</h5>
        
        <!-- Icones -->
        <div>
          <span>
            <a href="#" target="_blank">
              <i class="fa fa-2x fa-twitter mr-2 text-light"></i>
            </a>
          </span>
          <span>
            <a href="#" target="_blank">
              <i class="fa fa-2x fa-instagram mr-2 text-light"></i>
            </a>
          </span>
          <span>
            <a href="#" target="_blank">
              <i class="fa fa-2x fa-facebook-square mr-2 text-light"></i>
            </a>
          </span>
          <span>
            <a href="#" target="_blank">
              <i class="fa fa-2x fa-linkedin mr-2 text-light"></i>
            </a>
          </span>
        </div>
        <!-- /Icones -->

      </div>
      <hr class="clearfix w-100 d-md-none ">
      <div class="col-md-6 col-lg-4 mb-md-0 mb-3 p-3">
        <h5 class="text-uppercase font-weight-bold">Contato</h5>
        <!-- Contato -->
          <span>
            <button target="_blank" data-toggle="tooltip" 
              data-placement="right" title="Abrir Whatsapp Web" class="bg-transparent border-0 text-light">
              <i class="fa fa-1x fa-whatsapp"></i>
            </button>
          </span>(35) 99999-9999
          <br/>
          <span>
            <button target="_blank" data-toggle="tooltip" 
              data-placement="right" title="Entrar em contato conosco" class="bg-transparent border-0 text-light">
              <i class="fa fa-1x fa-envelope-o"></i>
            </button>
          </span>suporte@ondepinhal.com
        <!-- /Contato -->
      </div>
      <div class="col-0 col-lg-2"></div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a class="text-light" href="#"> Onde Pinhal</a>
    <% if current_user %>
      <li class="nav-item nav-link active"><%= link_to "<i class='fa fa-sign-out'></i>".html_safe, logout_path, method: :delete%></li>
    <% end %>
  </div>

  <div class="footer-copyright text-center py-3">
    <hr class="my-4 w-100">
    Principais página do site:
    <%= link_to 'Home', root_path, class: 'text-light'%> - 
    <%= link_to 'Ofertas', ofertas_path, class: 'text-light'%> -
    <%= link_to 'Página da oferta', ofertasdestaque_path, class: 'text-light'%> -
    <%= link_to 'Empresas', pesquisa_path, class: 'text-light'%> -
    <%= link_to 'Página da empresa', empresa_path, class: 'text-light'%> -
    <%= link_to 'Contato', contato_path, class: 'text-light'%>
    <br /><br />
    Principais página de acesso da empresa:
    <%= link_to 'Home da empresa', homeempresa_path, class: 'text-light'%> -
    <%= link_to 'Ofertas', todasofertas_path, class: 'text-light'%> -
    <%= link_to 'Criar oferta', criaroferta_path, class: 'text-light'%> -
    <%= link_to 'Suas review', review_test_path, class: 'text-light'%> -
    <%= link_to 'Editar dados', editardados_path, class: 'text-light'%>
  </div>
</footer>
<!-- Footer  nav-item nav-link text-light-->