<nav class="navbar navbar-top navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="/">
    <span class="navbar-brand-title">Onde Pinhal</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ml-2">
        <% if current_user %>
          <li class="nav-item">
          <a href="" class="nav-link">
            <button class="btn btn-navbar">
              <i class="fa fa-shopping-cart fa-sm mr-2"></i>
              Carrinho
            </button>
          </a>
        </li>
          <div class="dropdown nav-link">
            <a href="#" class="btn btn-navbar" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">
              <i class="fa fa-user-circle fa-sm mr-2"></i>
              <%= current_user.name %>
              <i class="fa fa-angle-down ml-2"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><%= link_to 'Perfil', show_user_path(current_user) %></li>
              <% if current_user.role_id == 1 %>
                <li><%= link_to 'Painel do Administrador', admin_dashboard_path %></li>
              <% end %>

              <% if current_user.role_id == 2 %>
                <li><%= link_to 'Painel da Empresa', company_dashboard_path(current_user.company) %></li>
              <% end %>
              <li><%= link_to "Sair", logout_path, class: 'text-primary', method: :delete %></li>
            </ul>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to login_path, class: 'nav-link' do %>
              <span class="btn btn-navbar">Entrar</span>
            <% end %>
          </li>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

